# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Vite / Node
node_modules/
dist/
dist-ssr/
*.local

# VS Code
.vscode/*
!.vscode/extensions.json

# Editor
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env (future proof)
.env
.env.*
!.env.example
